{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
      We have to the very updated technology and systems.
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">You've searched for <b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx-auto">
        {% for product in products %}
        <div>
            <div>
                <a href="product.get_url"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
             <div>
                <h4>{{product.name}}</h4>
                 <p>{{product.price}}</p>
             </div>
            </div>
        </div>
        {% empty %}
        <div class="mx-auto">
            <p class="text-center my_search_text">0 results found..!</p>
        </div>
        {% endfor %}
    </div>
</div>
    {% endblock %}